
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  height: 450px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  margin-bottom: 1em;
}
#second-stripe{
  background-color: silver;
  height: 100%;
  width: 100%;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 3em;
  margin-bottom: 3em;
}
#eco-title{
  font-size: 500%;
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-text{
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-div{
  position: absolute;
  top: 1900px;
  left: -20px;
}
.inter-stripe{
  margin: 2em;
  text-align: justify;
}
.stripe{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 20px -9px rgba(140,138,140,1);
}
.text-description{
  font-family: 'Roboto Slab', serif;
}
.img-products{
  width: 100%;
  height: 100%;
}
.sq-products{
  position: relative;
  padding: 1em;
  width: 515px;
  height: 100%;
  display: inline-block;
}
.con-product{
  left: 5px;
}
