
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
.inter-stripe{
  margin: 2em;
  text-align: justify;
}
#first-stripe{
  height: 450px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
}
#second-stripe{
  margin-top: 6em;
  margin-bottom: 7em;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 3em;
  margin-bottom: 3em;
}
#tittle-us{
  font-size: 400%;
  font-family: 'Roboto Slab', serif;
}
#txt-us{
  margin-top: 2em;
  font-size: 200%;
}
#hr-us{
  top: 65px;
  left: 575px;
  position: absolute;
  width: 15%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#third-stripe{
  left: -30px;
  width: 120%;
  background-color: transparent;
}
#img-info{
  height: 600px;
  filter: brightness(0.5);
  filter: blur(3px);
}
#table-info{
  position: absolute;
  top: 98px;
  left: 300px;
  color: white;
}
td{
  width: 300px;
  height: 250px;
  background-color: transparent;
}
#td1:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td2:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td3:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td4:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#bg-contact{
  margin: 0;
  padding: 0;
  width: 120%;
  height: 600px;
}

#eco-title{
  font-size: 500%;
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-text{
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-div{
  position: absolute;
  top: 1900px;
  left: -20px;
}
