body{
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  height: 650px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  background-size: 1400px 650px;
}
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}
#second-stripe{
  margin-top: 6em;
  height: 300px;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 10em;
  margin-bottom: 3em;
}
#tittle-us{
  position: relative;
  top: 50px;
  font-family: 'Roboto Slab', serif;
  min-height: 100%;
}
#txt-us{
  font-family: 'Roboto Slab', serif;
  margin-left: 2em;
}
#hr-us{
  position: relative;
  top: 35px;
  width: 17%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#hr-us2{
  position: relative;
  top: 50px;
  width: 10%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#third-stripe{
  height: 550px;
  background-image: url("http://plumbriteservicestx.com/images/background/bg01.jpg");
  filter: grayscale(1);
}
#table-info{
  background-color: rgba(255, 0, 0, 0.7);
  position: absolute;
  width: 700px;
  top: 25px;
  left: 300px;
  color: white;
}
td{
  width: 100%;
  height: 250px;
  background-color: transparent;
  font-size: 120%;
}
.galery{
  position: relative;
  background-image: url("http://wallpapercave.com/wp/8IiSnSE.jpg");
}
.galeries{
  padding: 1em;
  /*background-color: rgba(215, 215, 215, 0.0);*/
}
.img{
  width: 400px;
  height: 350px;
  border-radius: 20px 20px 20px 20px;
}
#img-1 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-1:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-2 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-2:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-3 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-3:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#img-4 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-4:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-5 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-5:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-6 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-6:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.text {
  color: white;
  padding-top: 50px;
  font-size: 200%;
  font-family: 'Roboto Slab', serif;
}
.text-product{
  color: white;
  padding: 50px;
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
}
.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#progress-bar95{
  margin-top: 9em;
  left: 80px;
}
#progress-bar90{
  margin: 9em;
  left: 80px;;
}
#progress-bar80{
  left: 10px;;
}
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: tomato;
}
.progress-radial .overlay {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}
.progress-95 {
  background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.progress-80 {
  background-image: linear-gradient(18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
