body{
  width: auto;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  height: 650px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  background-size: 1400px 650px;
  background-position: center;
}
#second-stripe{
  margin-top: 10em;
  height: 400px;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 10em;
  margin-bottom: 3em;
  opacity: (1);
}
#tittle-us{
  position: relative;
  top: 50px;
  font-family: 'Roboto Slab', serif;
  min-height: 100%;
}
#txt-us{
  font-family: 'Roboto Slab', serif;
  margin-left: 2em;
}
#hr-us{
  position: relative;
  top: 35px;
  width: 17%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#hr-us2{
  position: relative;
  top: 50px;
  width: 10%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#third-stripe{
  height: 550px;
  background-image: url("http://plumbriteservicestx.com/images/background/bg01.jpg");
  /*filter: grayscale(1);*/
  font-family: 'Roboto Slab', serif;

}
#table-info{
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 700px;
  top: 25px;
  left: 300px;
  color: white;
}
td{
  width: 100%;
  height: 250px;
  background-color: transparent;
  font-size: 120%;
}
.galery{
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/77/Pressure_Wash.JPG");
  background-position: center;
  /*background-image: url("http://wallpapercave.com/wp/8IiSnSE.jpg");*/
}
.galeries{
  padding: 1em;
  /*background-color: rgba(215, 215, 215, 0.0);*/
}
.img{
  width: 400px;
  height: 350px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(180, 180, 180, 0.7);
}
#img-1 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-1:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-2 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-2:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-3 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-3:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#img-4 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-4:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-5 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-5:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-6 .textbox {
  width:380px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:15px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-6:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.text {
  color: white;
  padding-top: 50px;
  font-size: 200%;
  font-family: 'Roboto Slab', serif;
}
.text-product{
  color: white;
  padding: 50px;
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
}
.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
}
.progress-radial .overlay {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  line-height: 150px;
  font-size: 40px;
}
.progress-95 {
  background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.txt-bar{
  left: 25px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1em;
}
#txt-bar1{
  left: 10px;
}
#txt-bar2{
  left: 35px;
}
#txt-bar3{
  left: 10px;
}
#progress-bar{
  left: 60px;
  margin-top: 7em;
  margin-bottom: 9em;
}
#team-stripe{
  margin-top: 10em;
  left: 25px;
}
.img-team{
  border: 8px solid white;
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.75);
  border-radius: 100px 100px 100px 100px;
  width: 200px;
}
#formulario{
  margin-top: 9em;
  margin-bottom: 6em;
  background-color: silver;
  height: 500px;
  padding-top: 5em;
  background-image: url("http://cdn.pcwallart.com/images/urban-wallpaper-1.jpg");
  background-position: center;
  color: white;
}
#nombre{
  width: 299px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px solid white;
  border-bottom: 1px solid red;
  font-size: 140%;
  color: white;
}
#email{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px solid white;
  border-bottom: 1px solid red;
  font-size: 140%;
  color: white;
}
#mensaje{
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px solid white;
  border-bottom: 1px solid red;
  font-size: 140%;
}
#div-buttons{
  margin-top: 2em;
}
.button{
  width: 50%;
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(241, 34, 34, 0.8);
  border: 0px solid rgb(241, 34, 34);
  font-size: 120%;
}
#credits{
  margin-top: 6em;
  margin-bottom: auto;
  font-family: 'Roboto Slab', serif;
  height: 65px;
}
