.contenedor{
  width: 100%;
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  width: 100%;
  height: 650px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#stripe-us{
  margin-top: 10em;
  height: 400px;
}
#jb-first-stripe{
  width: 100%;
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  min-width: 20%;
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  min-width: 20%;
  max-width: 80%;
  height: auto;
  margin-top: 10em;
  margin-bottom: 3em;
}
#tittle-us{
  position: relative;
  top: 50px;
  font-family: 'Roboto Slab', serif;
  min-height: 100%;
  font-size: 50px;
}
#txt-us{
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
}
#hr-us{
  position: relative;
  top: 35px;
  width: 17%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#hr-us2{
  position: relative;
  top: 50px;
  width: 10%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#info-stripe{
  height: 550px;
  background-image: url("http://plumbriteservicestx.com/images/background/bg01.jpg");
  /*filter: grayscale(1);*/
  font-family: 'Roboto Slab', serif;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#table-info{
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 700px;
  top: 25px;
  left: 300px;
  color: white;
}
td{
  width: 100%;
  height: 250px;
  background-color: transparent;
  font-size: 120%;
}
#galery-stripe{
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: url("https://images4.alphacoders.com/831/thumb-1920-83196.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.galeries{
  padding: 1em;
  left: 15px;
}
.img{
  width: 370px;
  left: 65px;
  height: 340px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}
#img-1 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-1:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#img-2 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-2:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-3 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-3:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#img-4 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-4:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-5 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-5:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#img-6 .textbox {
  width:350px;
  height:320px;
  position:absolute;
  font-family: 'Roboto Slab', serif;
  top:10px;
  left:25px;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}
#img-6:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.text {
  color: white;
  padding-top: 50px;
  font-size: 200%;
  font-family: 'Roboto Slab', serif;
}
.text-product{
  color: white;
  padding: 50px;
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
}
.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
}
.progress-radial .overlay {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  line-height: 150px;
  font-size: 40px;
}
.progress-95 {
  background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
.txt-bar{
  left: 25px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1em;
}
#txt-bar1{
  left: 10px;
}
#txt-bar2{
  left: 35px;
}
#txt-bar3{
  left: 10px;
}
#progress-bar{
  left: 60px;
  margin-top: 7em;
  margin-bottom: 9em;
}
#team-stripe{
  margin-top: 10em;
  margin-bottom: 10em;
  left: -10px;
}
.img-team{
  border: 8px solid white;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
  border-radius: 100px 100px 100px 100px;
  width: 200px;
  height: 200px;
}
#contact-stripe{
  height: 100%;
  background-image: url("https://trafficbuilders.us/wp-content/uploads/contact-form-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#text-contact{
  color: white;
}
#text-contact h1{
  margin-top: 2em;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}
button{
  position: relative;
  top: 55px;
  left: 440px;
  height: 50px;
  font-size: 20px !important;
}
#map{
  margin-top: 8em;
  width: 900px;
  height: 400px;
  margin-left: 85px;
  margin-bottom: 3em;
}
#credits{
  margin-top: 1em;
  font-family: 'Roboto Slab', serif;
  height: 65px;
  color: black;
}
@media screen and (max-width:800px) {
  
}
