body{
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  height: 650px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  background-size: 1400px 650px;
  background-repeat: no-repeat;
}
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}
#second-stripe{
  margin-top: 6em;
  height: 300px;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 10em;
  margin-bottom: 3em;
}
#tittle-us{
  position: relative;
  top: 50px;
  font-family: 'Roboto Slab', serif;
  min-height: 100%;
}
#txt-us{
  font-family: 'Roboto Slab', serif;
  margin-left: 2em;
}
#hr-us{
  position: relative;
  top: 35px;
  width: 17%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#hr-us2{
  position: relative;
  top: 50px;
  width: 10%;
  border: 0;
  height: 0;
  box-shadow: 0 0 1px 1px red;
}
#third-stripe{
  height: 550px;
  background-image: url("http://plumbriteservicestx.com/images/background/bg01.jpg");
  filter: grayscale(1);
}
#carouse-img{
  height: 100px;
}
#table-info{
  position: absolute;
  width: 600px;
  top: 25px;
  left: 280px;
  color: white;
}
td{
  width: 500px !important;
  height: 250px !important;
  background-color: transparent;
}
#td1:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td2:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td3:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#td4:hover{
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 1px 1px 22px 2px rgba(255,255,255,1);
  border-radius: 50px 50px 50px 50px;
  color: black;
  transition:all 0.5s ease-in;
}
#eco-title{
  font-size: 500%;
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-text{
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-div{
  position: absolute;
  top: 1900px;
  left: -20px;
}
