
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

hr{
  border: 0;
  width: 80%;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#first-hr{
  position: relative;
  top: -15px;
  left: -50px;
}
#second-hr{
  position: relative;
  top: -15px;
  left: -50px;
}
#first-stripe{
  height: 450px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
  margin-bottom: 4em;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 3em;
  margin-bottom: 3em;
}
#eco-title{
  font-size: 500%;
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-text{
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-div{
  position: absolute;
  top: 1900px;
  left: -20px;
}
.inter-stripe{
  margin: 2em;
  text-align: justify;
}
.stripe{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 20px -9px rgba(140,138,140,1);
}
.text-description{
  font-family: 'Roboto Slab', serif;
}
.img-product{
  min-height: 300px;
}
