
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
#first-stripe{
  height: 450px;
  background-image: url("http://propertymaintenanceworks.com.au/wp-content/uploads/2015/09/macedon-plumber.png");
}
#second-stripe{
  background-color: silver;
  height: 100%;
  width: 100%;
}
#jb-first-stripe{
  height: 400px;
  background-color: transparent;
}
#text-first-stripe{
  height: 100px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 3em;
  margin-bottom: 3em;
}
#tittle-us{
  font-size: 400%;
  font-family: 'Roboto Slab', serif;
}
#txt-us{
  font-size: 200%;
}
#hr-contact{
  width: 30%;
  height: 1px;
}
#third-stripe{
  height: 400px;
  background-image: url("http://plumbriteservicestx.com/images/background/bg01.jpg");
  margin-top: 7em;
  opacity: 0.1;
}
#eco-title{
  font-size: 500%;
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-text{
  color: white;
  text-shadow: 3px 2px 0px #414236;
}
#eco-div{
  position: absolute;
  top: 1900px;
  left: -20px;
}
.inter-stripe{
  margin: 2em;
  text-align: justify;
}
#container2{
  margin: 20px;
  width: 200px;
  height: 100px;
}
